.footermail{
    height:650px;
    background: #2D2347;
    padding-left: 11rem;
    padding-right: 9rem;
    padding-right: -6rem;
    
}

.bottomfooter{
    position: absolute;
    width: 100%;
    height: 73px;
    background: #a795d4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-top: 9px;
}
.bottomfooter p{
   
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
    opacity: 0.8;
}

.signupdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.signuptext{


font-weight: 500;
font-size: 44px;
line-height: 68px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #FFFFFF;
}

.loremtext{

font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 29px;
color: #FFFFFF;
}

.serchinput{
    background: #2D2347;
    border: navajowhite;
    border-bottom: 1px solid white;
    width: 255px;
 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: white;
}
.serchinput:focus{
    outline: none;
}
.serctbtn{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    gap: 8px;
    margin-left: 2rem;
    width: 149px;
    height: 43px;
    left: 1398px;
    top: 85px;
    font-weight: 500;
font-size: 16px;
    background: linear-gradient(180deg, #FF17B3 0%, #DA189B 100%);
    border-radius: 8px;
    border: navajowhite;
    color: white;
}

.searchdiv{
    display: flex;
}

.productsdiv{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2rem;
}

.protext1{

font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 140%;
/* or 36px */

display: flex;
align-items: center;

/* White */

color: #FFFFFF;
}

.socialicons{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sorialcinisinsta{
    display: flex;
    justify-content: space-between;
    width: 125px;
}
.circurinicon{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margincircule{
      margin-block-end: 20px;
}