.mycard {
    min-width: 300px;
    max-width: 300px;
    position: relative;

    height: 400px;
    
    margin: 10px;
    color: white;
}

.mycard img{
    width: 300px;
    height: 300px;
    border-top-left-radius: 160px;
    border-top-right-radius: 152px;

}

.namediv{
    position: absolute;
    width: 256px;
    height: 101px;
    left: 25px;
    top: 273px;
    /* top: 4222px; */
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 60px 80px rgba(87, 152, 192, 0.02);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.namediv p{
    
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
/* identical to box height, or 123% */

text-align: center;

/* Black */

color: #2D2347;
}